# Dependencies
node_modules/
dist/
build/
.svelte-kit/
.vercel/

# Go Binaries (Local Builds)
agent
alert-service
api-gateway
storage-service
/bin/

# Environment / Secret
.env
*.pem
*.key
sk_*

# Agent Specific
SKILL.md
*.tgz

# System / IDE
.DS_Store
.vscode/
.idea/
*.swp
*.log
